.site-footer {

  padding-top: #{$pb-section-padding-sm};
  padding-bottom: $unit-2;

  @media( min-width: $size-md ) {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 0px;
    z-index: $footer-zindex;

    .textwidget p:last-child {
      margin-bottom: 0px;
    }
  }
}
